<html>
    <head>
        <title>App enquete</title>
    </head>
    <body>
        <h1>Detalhes da Enquete {{ pergunta.id }}</h1>
        <u>Pergunta:</u> {{ pergunta.texto }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_de_publicacao }}
        {% if error_message %}
            <hr>
            <strong>{{ error_message }}</strong>
        {% endif %}
        <form action="{% url 'polls:votacao' pergunta.id %}" method = "post">
            {% csrf_token %}


        <ul>
            {% for opcao in pergunta.opcao_set.all%}
                <li> <input type = "radio" name="opcao"
                    id = "opcao{{ forloop.counter}}" value = "{{opcao.id}}"
                    <label for="opcao{{ forloop.counter }}">
                        {{opcao.texto}}"
                    </label>
                </li>
            {% endfor %}

        </ul>
        <input type="submit" value= "Registre o seu voto">
        </form>
    </body>

</html>