<html>
    <head>
        <title>App enquete</title>
    </head>
    <body>
        <h2>Resultado parcial da Enquete {{ pergunta.id }}</h2>
        <u>Pergunta:</u> {{ pergunta.texto }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_de_publicacao }}
        <ul>
            {% for opcao in pergunta.opcao_set.all%}
                <li>{{opcao.texto}}" = {{ opcao.votos }}
                voto{{ opcao.votos | pluralize}}</li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'polls:detalhes' pergunta.id %}">Deseja votar novamente?</a> |
        <a href="{% url 'polls:index' %}">Retornar à página principal</a>
    </body>
</html>